#set($d_myCenter_active="1")
#set($t_playBack_active="1")
#override("title")播放记录#end
#override("content")
<div class="playli_conRi">
    <div class="playli_main">
		<form action="/ucenter/teacher/videoPlayBackRecord.html" id="videoForm" method="post">
				<input type="hidden" name="_index" value="$!{videoPlayPage.current}"/>
        </form>
        <h2>播放记录<i></i></h2>
        <ul>
			#foreach($video in $videoPlayPage.records)
            <li>
                <p><img src="/img/course/videoDefault/demo.png" /></p>
                <p><b>$!video.videoName</b></p>
                <p><span>主讲：$!video.speaker</span><em>$!video.date</em></p>
            </li>
			#end
        </ul>
    </div>
		<div class="bg"></div>
		#pagerleftPage($videoPlayPage,"videoForm")
</div>
#end

#override("javascript")
	<script type="text/javascript" src="/js/lib/jquery/1.12.3/jquery.js"></script>
	<script type="text/javascript" data-main="/js/ucenter/task_ranking.js" src="/js/lib/require/2.1.11/require.js"></script>
#end                                          
#extends("common/ucenter/teacher/index.vm")
