<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yu2.baomihua.manage.mapper.KlassTeacherMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, klassId, teacherId, subjectId, type
	</sql>

	<select id="getTeachTeacher" resultType="cn.yu2.baomihua.manage.entity.KlassTeacher">
		SELECT
			<include refid="Base_Column_List"/>
		FROM GL_KLASS_TEACHER 
		WHERE type = #{paramMap.type}
		<if test="paramMap.gradeId !=null">
			AND klassId in (SELECT id FROM GL_KLASS WHERE gradeId = #{paramMap.gradeId} AND schoolId = #{paramMap.schoolId})
		</if>
		<if test="paramMap.subjectId !=null">
			 AND subjectId = #{paramMap.subjectId}
		</if>
	</select>
</mapper>