<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yu2.baomihua.manage.mapper.KlassStudentMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 ID, klassId, studentId
	</sql>


<select id="getStudentSumById" resultType="int">
		 SELECT
		 count(*)
		 FROM GL_KLASS_STUDENT
		 WHERE klassId = #{id}
	</select>
</mapper>