<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yu2.baomihua.manage.mapper.PhaseMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, name, status, crTime, crUserId
	</sql>
	
	<select id="getPhase" resultType="cn.yu2.baomihua.manage.entity.Phase">
		select 
		<include refid="Base_Column_List"/>
		from GL_PHASE where 1=1
		<if test="name !=null and name != ''">
			 and name = #{name}
		</if>
	</select>

</mapper>