<div class="conLeft">
    <ul>
        <li class="#if($t_myCenter_active) hoveLi #end"><span><img src='/img/common/teacher_leftbar01.png' width="20px" height="20px"></span><a href="/ucenter/teacher/index.html">个人中心</a></li>
        <li class="#if($d_group_active) hoveLi #end"><span><img src='/img/common/teacher_leftbar02.png' width="20px" height="20px"></span><a href="/group/group/indexGroup.html">班群</a></li>
        <li class="#if($d_learnPlan_active) hoveLi #end"><span><img src='/img/common/teacher_leftbar03.png' width="20px" height="20px"></span><a href="/learnplan/learnPlans.html">学案</a></li>
        <li><span><img src='/img/common/teacher_leftbar04.png' width="20px" height="20px"></span><a href="/tiku/index.html">作业系统</a></li>
        <li class="#if($d_taskRanking_active) hoveLi #end"><span><img src='/img/common/teacher_leftbar05.png' width="20px" height="20px"></span><a href="/ucenter/teacher/ranking.html">全区学习大排名</a></li>
        <li class="#if($d_evaluation_active) hoveLi #end"><span><img src='/img/common/teacher_leftbar06.png' width="20px" height="20px"></span><a href="/teacher/evaluation.html?klassName=全部">过程评价</a></li>
        <li class="#if($t_playBack_active) hoveLi #end"><span><img src='/img/common/teacher_leftbar07.png' width="20px" height="20px"></span><a href="/ucenter/teacher/videoPlayBackRecord.html">播放记录</a></li>
		<li class="#if($d_dept_active) hoveLi #end"><span><img src='/img/common/teacher_leftbar08.png' width="20px" height="20px"></span><a href="/homework/index.html">我的作业</a></li>
    </ul>
</div>
