#set($d_dept_active="1")
#override("title")我的作业#end
#override("content")
<div class="conRight">
    <div class="mainContent">
        <div class="adminTopBar">
            <a href="/tiku/index.html" class="aLink" >发作业</a>
            <ahref="javascript:void(0)" class="btn">已发作业</a>
        </div>
        <div class="adminBody subjective_item studentList">
        	<input type="hidden" id="hwId" value="${hwId}"/>
            <h2 class='class_list'>
        		#foreach($klass in ${klasses})
        			<a href="javascript:;" data-id="${klass.id}">${klass.name}</a>
        		#end
            </h2>
            <div class="class_box">
                <div class="one_class">
                    <div class="all_ans_name">
                        <h3>全部作答学生</h3>
                        <div class="_names"></div>  
                    </div>
                </div>
            </div>
        </div>
        <div id="read_over_list"></div>
    </div>
</div>
#end
#override("javascript")
    <script type="text/javascript" src="/js/lib/jquery/1.12.3/jquery.js"></script>
	<script type="text/javascript" data-main="/js/admin/job_init.js" src="/js/lib/require/2.1.11/require.js"></script>
	<script type="text/javascript" src="/js/mooc/homework/teacher/read_over.js"></script>
#end                                          
#extends("common/ucenter/teacher/index.vm")
