<div class="leftBar" id="leftBar">
	<ul>
		#permission($permiConstant.schoolDept)
		<li class="leftIcon_2 #if($s_dept_active) active #end">
			<img src="http://edu.bjhd.gov.cn/img/common/leftbar-02.png"/>
			<a href="/manage/school/dept/list.html">部门管理</a>
		</li>
		#end
		#permission($permiConstant.schoolCourse)
		<li class="leftIcon_3 #if($s_course_active) active #end">
			<img src="http://edu.bjhd.gov.cn/img/common/leftbar-09.png"/>
			<a href="/manage/school/course/list.html">课程管理</a>
		</li>
		#end
		#permission($permiConstant.schoolBook)
		<li class="leftIcon_4 #if($s_book_active) active #end">
			<img src="http://edu.bjhd.gov.cn/img/common/leftbar-04.png"/>
			<a href="/manage/school/book/list.html">教材管理</a>
		</li>
		#end
		#permission($permiConstant.schoolUser)
		<li class="leftIcon_5 #if($s_staff_active) active #end">
			<img src="http://edu.bjhd.gov.cn/img/common/leftbar-05.png"/>
			<a href="/manage/school/staff/studentManage.html">人员管理</a>
		</li>
		#end
		###permission($permiConstant.schoolSource)
		##<li class="leftIcon_6 #if($s_resource_active) active #end">
		##	<a href="/manage/school/resource/list.html">校资源库</a>
		##</li>
		###end
		#permission($permiConstant.schoolTeach)
		<li class="leftIcon_5 #if($s_teach_active) active #end">
			<img src="http://edu.bjhd.gov.cn/img/common/leftbar-10.png"/>
			<a href="/manage/school/teach/teacher.html">任教管理</a>
		</li>
		#end
		#permission($permiConstant.schoolStatistics)
		<li class="leftIcon_7 #if($s_statistics_active) active #end">
			<img src="http://edu.bjhd.gov.cn/img/common/leftbar-06.png"/>
			<a href="/manage/school/statistics/listResource.html">资源使用统计</a>
		</li>
		#end
		#permission($permiConstant.schoolPermi)
		<li class="leftIcon_8 #if($s_role_active) active #end">
			<img src="http://edu.bjhd.gov.cn/img/common/leftbar-08.png"/>
			<a href="/manage/school/permission/list.html">权限管理</a>
		</li>
		#end
	</ul>
</div>








