#set($d_book_active="1") 
#override("title")预览 #end
#override("content")
 <div class="mainWrap preWrap">
        <div class="adminBody preBody cf">
            <div class="top_mycenter">
                <a href="javascript:;">校本课程库 > 管理课程 > </a><span>习题预览</span>
            </div>
            <div class="doPreTit">
                <span>共<b id="preview_total">${exams.size()}</b>题</span>
                <h2>
                    <a href="/tiku/index.html" class="titStyle">添加习题</a>
                    <a href="javascript:;" id="publishjob">发布作业</a>
                </h2>
            </div>
			#foreach($exam in $exams)
				<div class="pre_con play_judge cf">
                <div class="floorone">
                    <div class="flooleft">
                        <h3><span class="exam_index">$velocityCount.#if(${exam.typeName}!='')(${exam.typeName})#end</span><br>
							${exam.content}</h3>
                    </div>
                    <div class="flooright">
                        <a href="javascript:;" class="aa" data-examid="${exam.examId}" data-typeid="${exam.typeId}" data-typename="${exam.typeName}">取消选择</a>
                        <a href="javascript:;" class="check_jiexi">查看解析</a>
                    </div>
                    <div class="floor_jiexi">
                    <h2>解析</h2>
                    <p>
                       ${exam.analysis}
                    </p>
                    </div>
                </div>
            </div>
			#end
            
        </div>
    </div>
	 <div class="publishjob_box">
        <h2><a href="javascript:;" class="publishjob_exit">×</a>发作业</h2>
        <div class="">
            <span>作业名称：</span><input type="hidden" id="subjectId" value="${subjectId}"/>
			<input type="hidden" id="phaseId" value="${phaseId}"/>
            <input type="text" name="" id="title">
        </div>
        <div class="selectgrade">
            <span>选择班级：</span>
            <ul>
				#foreach($klass in ${klasses})
					<li>
                        <input type="checkbox"  name="classId" value=${klass.id}>
                        <label for=${klass.id}></label>
        				<b>${klass.name}</b>
					</li>
				#end
            </ul>
            
        </div>
        <div class="">
            <span>发作业时间：</span>
            <input type="text" name="" id="startDate" class="datetimepicker">
        </div>
        <div class="">
            <span>收作业时间：</span>
            <input type="text" name="" id="endDate"  class="datetimepicker">
        </div>
        <div class="publishjob_sure">确认发布</div>
    </div>
#end #override("javascript")
<script type="text/javascript" src="/js/lib/jquery/1.12.3/jquery.js"></script>
<script type="text/javascript" src="/js/lib/jquery/jquery.datetimepicker.js"></script>
<script type="text/javascript" data-main="/js/admin/do_preview.js" src="/js/lib/require/2.1.11/require.js"></script>

#end #extends("common/tiku/index.vm")
