<!-- 页面尾部开始 -->
<!--<div class="footer">
    <div class="inner">
        <ul>
            <li>
                <a href="javasript:void(0)">上级主管部门</a>
            </li>
            <li>|</li>
            <li>
                <a href="javasript:void(0)">直属机构</a>
            </li>
            <li>|</li>
            <li>
                <a href="javasript:void(0)">区内学校网站</a>
            </li>
        </ul>
        <div class="other">
            <p>版权所有：北京市海淀区教育委员会
            </p>
            <p>技术支持：智慧教育建设管理办公室
            </p>
            <p>地址：海淀区西四环北路11号 海淀区政府第二办公区1
            </p>
            <p>邮编：100195 京ICP备05065332号
            </p>
        </div>
    </div>
</div> -->
<!-- 页面尾部结束 -->