<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<font color="red">${errorMsg}</font>
<form>
	文件存放目录：<input name="fileDir" type="text" value="${fileDir}">
	<input type="submit" value="干活吧！">
</form>
<table>
	#foreach($path in ${unconvertList})
		<tr>
     		<td>$!{velocityCount}</td>
     		<td>${path}<td>
     	</tr>
	#end
</table>