#override("content")
<img src="/img/common/login.png" style="display:block;margin:0 auto;margin-top:200px;"/>
<div class="loginWrap">
    <div class="longinCon">
        <h2>修改密码</h2>
        <div class="initTxt cf"><label for="txt">输入密码:</label><input type="text" id="txt" placeholder="5~12字符" autocomplete="off"  ></div>
        <div class="initTxt cf"><label for="pwd">重新输入密码:</label><input type="password" id="pwd" placeholder='重新输入密码' autocomplete="off"  ></div>
        
        <div class="login_btn cf">
            <button class="submitBtn">登录</button>
            <button class="reseatBtn" onclick="cancel()">取消</button>
        </div>
    </div>
</div>
#end
#override("javascript")
<script type="text/javascript">
function cancel(){
	window.location.href="/account/login.html";
}
</script>
#end
#extends("common/login.vm")
