#override("content")
<img src="/img/common/login.png" style="display:block;margin:0 auto;margin-top:200px;"/>
<div class="loginWrap">
    <div class="longinCon login_txt">
        <h2>修改密码</h2>
        <div class="initTxt cf txtCation"><label for="txt">用户名:</label><input type="text" autocomplete="off"   id="txt" placeholder="请输入您的账号"></div>
        <div class="initTxt cf txtCation"><label for="pwd">身份证后六位:</label><input type="password" autocomplete="off"   id="pwd" placeholder='请输入您的密码'></div>
        <div class="initTxt cf txtCation"><label for="pwd">真实姓名:</label><input type="password" autocomplete="off"   id="pwd" placeholder=''></div>
        <div class="verify cf">
            <input type="text">
            <span>
            <input name="token" type="hidden" value="$!{token}" autocomplete="off"   />
          	#set($captchaUrl ="/captcha/checkcode.html?token="+${token})
            <img src="${captchaUrl}" onclick="this.src=('${captchaUrl}&t='+(new Date()).getTime())" >
            </span>
        </div>
        <div class="login_btn cf">
            <button class="submitBtn">登录</button>
            <button class="reseatBtn" onclick="history.go(-1)">取消</button>
        </div>
    </div>
</div>
#end
#override("javascript")
<script type="text/javascript">
function cancel(){
	window.location.href="/account/login.html";
}
</script>
#end
#extends("common/login.vm")
