#override("content")
 <div class="secR">
			<!-----页面右侧透明背景----->
			<div class="box-bg"></div>
			<!--------表单内容------------>
				<div class="form">
					<h1>******登录平台</h1>
					 
					<div class="item clearfix">
						<label for="userNameIpt"></label> 
						<input type="text" tabindex="1" id="userNameIpt" name="username" notnull="true" info="用户名" placeholder="请输入用户名">
					</div>
					<input name="ReturnURL" type="hidden" value="$!{ReturnURL}"/>
					<div class="item itempass clearfix">
						<label for="password"></label> 
						<input type="password" tabindex="2" id="password" name="password" notnull="true" info="密码" autocomplete="off" placeholder="请输入密码">
					</div>
					<div class="item validatepic clearfix">
						#set($captchaUrl ="/captcha/checkcode.html?token="+${token})
						<img src="${captchaUrl}" id="code" onclick="this.src=('${captchaUrl}&t='+(new Date()).getTime())" width="75" height="30" style="display: inline; float: left;">
						<input name="token" type="hidden" value="$!{token}" autocomplete="off"   />
						<input id="pwdInput" name="checkcode" tabindex="3" class="ipt ipt-y f_l" type="text" style="margin-right: 5px; display: inline;" notnull="true" info="验证码" autocomplete="off" disableautocomplete=""> 
						<span tabindex="3" class="changepic" id="forGetPassword"  >换一张?</span>
					</div>
					 
                    <div style="margin-top: 10px;"> <em style="color:#f00;font-size: 14px;">$!{errorMsg}</em></div>
					<div class="item">
					   <button type="button" tabindex="4" onclick="loginSubmit();" id="btnSubmit" class="submitBtn" onkeydown="javascript:if(event.keyCode==13){event.returnValue = false}">登&nbsp;&nbsp;录</button>
				     
					</div>
				</div>
		</div>
#end
#extends("common/login.vm")
